:root {
  // Pull the tokens and generate custom props
  @each $color in $stalfos-colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // Set theme aliases
  --color-mode: 'light';
  --color-bg: #fdf6e3;
  --color-bg-glare: #eee8d5;
  --color-text: #002b36;
  --color-text-glare: #002b36;
  --color-selection-text: #tag:#ffffff;
  --color-selection-bg: #333333;
  --color-stroke: #cccccc;
  --color-action-bg: #2b051a;
  --color-action-text: #fff;
  --color-theme-primary: #2b051a;
  --color-theme-primary-glare: #420928;
  --color-theme-highlight: #48bda1;
  --color-theme-highlight-block: #2aa198;
}

@include dark-mode() {
  --color-bg: #333333;
  --color-bg-glare:  #404040;
  --color-text: #fdf6e3;
  --color-selection-text: #333;
  --color-selection-bg: #fff;
  --color-stroke: #404040;
  --color-theme-primary: #2aa198;
  --color-theme-primary-glare: #2aa198;
  --color-action-bg: var(--color-theme-primary-glare);
  --color-action-text: #333;
  --color-theme-highlight: #48bda1;
  --color-theme-highlight-block: #404040;
  --color-theme-feature-text: #2aa198;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  overflow: hidden;
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}
